@font-face {
    font-family: "Lato-Regular";
    src: url("./OSF_Font.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./OSF_Lato_Bold.ttf");
}

@font-face {
    font-family: "Lato-ExtraBold";
    src: url("./OSF_Lato_ExtraBold.ttf");
}

.ScreenColor {
    opacity: 1;
    background-color: #F1EDEA;
}

.SmallScreenColor {
    opacity: 1;
    background-color: #FFFFFF;
    margin-left: 55px;
    margin-right: 55px;
}

.Huge404 {
    color: #45413E;
    font-family: "Lato-ExtraBold";
    font-size: 48px;
}

.NormalGreen {
    color: #84BC22;
    font-family: "Lato-Regular";
    font-size: 16px;
}

.NotFoundNormal {
    text-align: left;
    color: #000000;
    font-family: "Lato-Regular";
    font-size: 16px;
}

.SmallerExtraBold {
    color: #000000;
    font-family: "Lato-ExtraBold";
    font-size: 24px;
}

.ExtraBold {
    color: #84BC22;
    font-family: "Lato-ExtraBold";
    font-size: 113px;
}

a {
    color: #84BC22;
    text-decoration: none;
}

a:link {
    color: #84BC22;
    text-decoration: none;
}

a:visited {
    color: #84BC22;
    text-decoration: none;
}

.NotFoundScreen {
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.TextScreen {
    text-align: center;
    opacity: 1;
    color: #5C5855;
    font-family: "Lato-Regular";
    font-size: 13px;
    background-color: #F1EDEA;
    padding-top: 55px;
    padding-bottom: 40px;
}

.SearchBox .searchMain {
    width: 100%;
    position: relative;
    display: flex;
}
.SearchBox .searchTerm {
    background-color: #FFFFFF;
    padding: 9px;
    border: 1px solid #E8E2D6;
    border-right-style: none;
    border-radius: 16px 0 0 16px;
    outline: none;
}

.SearchBox .searchButton {
    background-color: #FFFFFF;
    border-radius: 0 16px 16px 0;
    border: 1px solid #E8E2D6;
    border-left-style: none;
    outline: none;
}
