@font-face {
    font-family: "Lato-Regular";
    src: url("./OSF_Font.ttf");
}

a {
    color: #84BC22;
    text-decoration: none;
}

a:link {
    color: #84BC22;
    text-decoration: none;
}

a:visited {
    color: #84BC22;
    text-decoration: none;
}

.NotFoundScreen {
    max-width: 1280px;
    margin: auto;
}

.TextScreen {
    text-align: center;
    opacity: 1;
    color: #5C5855;
    font-family: "Lato-Regular";
    font-size: 13px;
    background-color: #F1EDEA;
    padding-top: 55px;
    padding-bottom: 40px;
}
