.FooterScreen {
    max-width: 1280px;
    margin: auto;
}

.FooterText {
    opacity: 1;
    color: #45413E;
    font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular, serif;
    font-size: 13px;
    text-align: left;
}

.FooterBoldText {
    opacity: 1;
    color: #333333;
    font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular, serif;
    font-size: 29px;
    text-align: left;
}

.FooterLowOpacity {
    opacity: 0.7019607843137254;
    color: #45413E;
    font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular, serif;
    font-size: 13px;
    text-align: left;

}
