@font-face {
    font-family: "Lato-Regular";
    src: url("./OSF_Font.ttf");
}

.HeaderScreen {
    max-width: 1280px;
    margin: auto;
}

.HeaderText {
    opacity: 1;
    color: #FFFFFF;
    font-family: "Lato-Regular";
    font-size: 14px;
}

.HeaderMargin {
    vertical-align: middle;
    margin: 12px 55px;
}

.LoginForm {
    display: none;
    max-width: 320px;
    margin: auto;
}
