.MainScreen {
    max-width: 1280px;
    margin: 13px auto auto;
}

.Products {
    background-color: #262A32;
}

.PlusHoverButton {
    display: none;
    top: 96px;
    left: 24px;
    position: absolute;
    z-index: 9999;
}

.HeartHoverButton {
    display: none;
    top: 96px;
    right: 24px;
    position: absolute;
    z-index: 9999;
}

.PlusHoverButton:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.HeartHoverButton:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

#LoadMoreButton {
    width: 264px;
    height: 38px;
    border-radius: 24px;
    border-width: 2px;
    color: #E4DED3;
    border-color: #E4DED3;
    background-color: transparent;

}

.SummerText {
    font-size: 13px;
}

.BigTextOverImage {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    top: 48px;
    position: absolute;
}

.SmallTextOverImage {
    color: #FFFFFF;
    line-height: 1.2;
    top: 256px;
    position: absolute;
}

.PopularItems {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
}

.PopularItems:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: "";
    text-shadow: none;
    background-color: #3A3E45;
    width: 33%;
}

.PopularItems:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 2px;
    content: "";
    text-shadow: none;
    background-color: #3A3E45;
    width: 33%;
}

.ProductCard:hover > .card-body {
    opacity: 0.1;
}

.ProductCard:hover > .card-img-top {
    opacity: 0.1;
}

.ProductCard:hover > .PlusHoverButton {
    display: block;
}

.ProductCard:hover > .HeartHoverButton {
    display: block;
}

.ProductCard:hover {
    background-color: #34C97B;
}

.FeaturedLogo {
    font-size: 48px;
    font-family: "Lato";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.FeaturedText {
    font-size: 18px;
    font-family: "Lato";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

#LeftArrow {
    padding-right: 250px;
}

#RightArrow {
    padding-left: 250px;
}

.FeatureProducts {
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
}

.carousel {
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
}

.MessageBox {
    opacity: 0.8;
    border-radius: 6px;
    background-image: linear-gradient(#675B99FF, #DC5987FF);
    overflow: hidden;
    font-size: 16px;
    font-family: "Lato";
    color: #FFFFFF;
}

#MessageText {
    padding-top: 176px;
}

@media only screen and (max-width: 768px) {
    .PopularItems {
        font-size: 24px;
    }
    .FeaturedLogo {
        font-size: 24px;
    }
}





