.MainScreen {
    max-width: 1280px;
    margin: 13px auto auto;
}

.Products {
    background-color: #262A32;
}

#PlusHoverButton {
    display: none;
    top: 96px;
    left: 24px;
    position: absolute;
}

#HeartHoverButton {
    display: none;
    top: 96px;
    right: 24px;
    position: absolute;
}

#LoadMoreButton {
    width: 264px;
    height: 38px;
    border-radius: 24px;
    border-width: 2px;
    color: #E4DED3;
    border-color: #E4DED3;
    background-color: transparent;

}

.BigWhiteText {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.SummerText {
    font-size: 13px;
}

.SmalllerText {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: left;
}

.TextOverImage {
    position: absolute;
}

.PopularItems {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
}

.PopularItems:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: "";
    text-shadow: none;
    background-color: #3C4047;
    width: 230px;
}

.PopularItems:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: "";
    text-shadow: none;
    background-color: #3C4047;
    width: 230px;
}

.ProductCard:hover > .card-body > #PlusHoverButton {
    display: block;
}

.ProductCard:hover > .card-body > #HeartHoverButton {
    display: block;
}

.ProductCard:hover {
    background-color: #34C97B;
}

.FeaturedLogo {
    font-size: 48px;
    font-family: "Lato";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.FeaturedText {
    font-size: 18px;
    font-family: "Lato";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}




