@font-face {
    font-family: "Lato-Regular";
    src: url("./OSF_Font.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./OSF_Lato_Bold.ttf");
}

@font-face {
    font-family: "Lato-ExtraBold";
    src: url("./OSF_Lato_ExtraBold.ttf");
}

.ProductPage {
    max-width: 1280px;
    margin: auto;
    text-align: center;
}

.ScreenColor {
    opacity: 1;
    background-color: #F1EDEA;
}

.TextScreen {
    text-align: center;
    opacity: 1;
    color: #5C5855;
    font-family: "Lato-Regular";
    font-size: 13px;
    background-color: #F1EDEA;
    padding-top: 55px;
    padding-bottom: 40px;
}

a {
    color: #84BC22;
    text-decoration: none;
}

a:link {
    color: #84BC22;
    text-decoration: none;
}

a:visited {
    color: #84BC22;
    text-decoration: none;
}

.PageTitle {
    color: #45413E;
    font-family: "Lato-ExtraBold";
    font-size: 48px;
    padding-top: 8px;
}

.MiddleLineText
{
    color: #45413E;
    font-family: "Lato-ExtraBold";
    font-size: 48px;
    text-align: center;
    padding-top: 8px;
}

.PageTitle:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: "";
    text-shadow: none;
    background-color: #E5E2DFFF;
    width: 230px;
}

.PageTitle:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 2px;
    content: "";
    text-shadow: none;
    background-color: #E5E2DFFF;
    width: 230px;
}

.SmallScreenColor {
    opacity: 1;
    background-color: #FFFFFF;
    margin-left: 55px;
    margin-right: 55px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.PriceText {
    font-size: 48px;
    font-family: "Lato-Bold";
    color: #45413EFF;
    line-height: 1.2;
    text-align: left;
}

.CardButton {
    text-align: left;
}

.CardButton > input {
    width: 152px;
    height: 42px;
}

.CardButton > button {
    width: 152px;
    height: 42px;
    border-radius: 18px;
    color: #FFFFFF;
    background-color: #84BC22;
}

.CardButton > select {
    width: 152px;
    height: 42px;
}

#readMore {
    display: none;
}

#readMoreSpan {
    font-size: 18px;
    font-family: "Lato";
    color: #84BC22FF;
    line-height: 1.2;
    text-align: left;
}

#readMoreText {
    font-size: 16px;
    font-family: "Lato";
    color: #45413EFF;
    line-height: 1.5;
    text-align: left;
}

.SocialButtons {
    opacity: 0.3;
    background-color: #FFFFFF;
    width: 8px;
    height: 17px;
}

#ShareText {
    opacity: 0.3;
    font-size: 14px;
    font-family: "Lato";
    color: #45413EFF;
    line-height: 1.8;
    text-align: left;
}

.CenterFlexMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdditionalTabs {
    font-family: "Lato";
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    background-color: #262A33;
    height: 300px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#nav-tab > button {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    align-content: center;
    margin-left: 24px;
    font-size: 24px;
    font-family: "Lato"
    color: #FFFFFF;
    background-color: #262A33;
    width: 256px;
    height: 72px;
    line-height: 1.2;
}

.ProductsTitle {
    font-size: 36px;
    font-family: "Lato";
    color: #000000;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.ProductsTitle:after {
    opacity: 0.2;
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: "";
    text-shadow: none;
    background-color: #000000;
    width: 230px;
}

.ProductsTitle:before {
    opacity: 0.2;
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: "";
    text-shadow: none;
    background-color: #000000;
    width: 230px;
}












